
	/*header*/

ul { 

  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  color: white;
  background-color: lightblue;
  height: 50px;
  width: 100%; 
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  float: left;
  margin: 20px;

}

.button{
  background-color: darkblue;
  color: white;
}

/*body*/

.background {
	margin-top: 8px;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(2,1fr);
  padding: 20px;
  position: relative;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;

}

.submit{
 grid-column: 1 / span 2;

}

form{
padding: 10px;
}