
section{
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: 1fr 2fr;
  padding: 30px;


}

 div{  
  /*background-color: DodgerBlue;*/
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;

}

.box1 {
 background-color: green;
}
.box2 {
 background-color: blue;
}
.box3 {
 background-color: yellow;
}
.box4 {
 background-color: pink;
}
.box5 {
 background-color: red;
}
.box6 {
 background-color: orange;
}
.box7 {
 background-color: gray;
 grid-column: 4/span 2;
}

/*.box2 {
 align-self: center;
 width: 200px;
}

/*.box3 {

  background-color: DodgerBlue;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}